.btnRose {
    border: none;
    padding: 1.2rem;
    border-radius: 25px;
    background-color: #c05b79;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
  }