.quizthx {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 2rem;

  .quizthx__title {
    @include title-3D;
    animation: show-from-bottom 0.9s ease-in-out;
    margin-bottom: 0;
  }

  .quizthx__btn {
    animation: show-from-bottom-delay-60 0.9s ease-in-out;
  }

  .quizthx__btn-2 {
    animation: show-from-bottom-delay-80 0.9s ease-in-out;
  }
}
